body {
  font-family: sans-serif;
  color: white;
}

header {
  background-color: mediumblue;
  font-size: 40px;
  text-align: center;
}

main {
  background-color: royalblue;
  font-size: 20px;
}

h1 {
  font-size: 30px;
  text-align: center;
}

img {
  border: 2px solid mediumblue;
  width: 80px;
  height: 80px;
}

a {
  color: white;
}

.imgclass {
  transform: rotate(30deg)
}
